<%= form_for(forbidden) do |f| %>
  <% if forbidden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forbidden.errors.count, "error") %> prohibited this forbidden from being saved:</h2>

      <ul>
      <% forbidden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "User" %>
    <%= f.text_field :user %>
  </div>

  <div class="field">
    <%= f.label "Table" %>
    <%= f.text_field :relation %>
  </div>

  <%= f.hidden_field :attempts %>
  <%= f.hidden_field :active   %>
  <div class="actions">
    <% if !forbidden.active and forbidden.attempts == 1 %>
      <%= f.submit "Confirm" %>
    <% else %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
