<% if !@forbidden.active and @forbidden.attempts == 1 %>
<h1>Confirm Forbidden</h1>
<p><%= @forbidden.user %> is currently has access to <%= @forbidden.relation %>.
  Removing them from this table may impact business processes!</p>
<% else %>
<h1>Editing Forbidden</h1>
<% end %>
<%= render 'form', forbidden: @forbidden %>

<%= link_to 'Show', @forbidden %> |
<% if @forbidden.active %>
<%= link_to 'Back', forbiddens_path %>
<% else %>
<%= link_to 'Back', @forbidden, method:"DELETE" %>
<% end %>
   
