<%= form_for(log) do |f| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <div class="field">
    <%= f.label :relation %>
    <%= f.text_field :relation %>
  </div>

  <div class="field">
    <%= f.label :operation %>
    <%= f.text_field :operation %>
  </div>

  <div class="field">
    <%= f.label :object %>
    <%= f.text_field :object %>
  </div>

  <div class="field">
    <%= f.label :parameters %>
    <%= f.text_field :parameters %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
