<p id="notice"><%= notice %></p>

<p>
  <strong>Date / time:</strong>
  <%= @log.created_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @log.user %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @log.subject %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @log.operation %>
</p>

<p>
  <strong>Object:</strong>
  <%= @log.object %>
</p>

<p>
  <strong>Parameters:</strong>
  <%= @log.parameters %>
</p>

<%= link_to 'Back', logs_path %>

<br/>
