<header class="navbar-fixed-top">
  <nav class='navbar navbar-expand-sm bg-primary navbar-dark'>
    <ul class='navbar-nav'>
      <li class='nav-item'>
        <% if current_user.present? %>
          <%= link_to "Log out", 
              destroy_user_session_path, method: :DELETE,
              id: "log-out",
              class: 'nav-link'  %>
        <% else %>
          <%= link_to "Log in", 
              new_user_session_path,
              id: "log-in",
              class: 'nav-link' %>
        <% end %>
      </li>
      <% if current_user.present? and current_user.role == "SO" %>
      <li class='nav-item'>
        <%= link_to "Users", users_path, method: :GET, class:'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to "Tables", relations_path, method: :GET, class:'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to "Forbidden", forbiddens_path, method: :GET, class:'nav-link' %>
      </li>
      <% end %>
      <li class='nav-item'>
        <%= link_to "Assigned", assigneds_path, method: :GET, class:'nav-link' %>
      </li>
      <% if current_user.present? and current_user.role == "SO" %>
      <li class='nav-item'>
        <%= link_to "Logs", logs_path, method: :GET, class:'nav-link' %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>
