<!DOCTYPE html>
<html>
  <head>
    <title>CS505p1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class='container'>
      <% if notice.present? %>
      <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
      <p class="alert"><%= alert %></p>
      <% end %>
      <% if warn.present? %>
      <p class="warn"><%= warn %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
